{% extends 'base.html.twig' %}

{% block title %}Vos adresses - la boutique française{% endblock %}

{% block content %}
<a href="{{path('account_address_add')}}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
<h1>Mes adresses</h1>
<p>Bienvenue dans votre compte, {{app.user.firstname}}. C'est dans cet espace que vous allez gérer vos adresses.</p>
<a href="{{path('account')}}">Retour</a>
<hr>
{% if app.user.addresses|length == 0 %}
<h4 class="text-center">
 Vous n'avez pas encore ajouté d'adresses. Pour en ajouter une <a href="{{path('account_address_add')}}">cliquez ici</a>
</h4>
   
{% else %}
<div class="row">

</div>
    {% for address in app.user.addresses %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ address.name }}</h5>
                <p class="card-text"> <address>{{ address.address }} <br>{{ address.zipcode }} - {{ address.city }} <br> {{ address.country }}</address></p>
                <a href="#" class="">Modifier</a> | <a href="#" class="">Supprimer</a>
            </div>
        </div>
    </div>
        
    {% endfor %}
    
{% endif %}
{% endblock %}