{% extends 'base.html.twig' %}

{% block title %}La Boutique Française|commande{% endblock %}

{% block content %}
    <h1>La commande </h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
    <hr>
    {% if order|length >0 %}
      
   
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col"></th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% set total = null %}
  {% for product in order %}
    <tr>
    <th>
        <img src="/uploads/{{product.illustration}}" alt=" {{product.name}}" srcset="" height="75px">
    </th>
    <td>{{product.name}} <br>
        <small>{{product.subtitle}}</small> 
    </td> 
    <td> x {{product.quantity}}  <a href="{{path('add_to_cart',{'id':product.id})}}" class="ml-2 ">
    <img src="{{asset('assets/img/plus.png')}}" alt="delete" srcset="" height="14px" class=""></a> <a href="{{path('reduce_cart_item',{'id':product.id})}}" >
    <img src="{{asset('assets/img/remove.png')}}" alt="reduce quantity" srcset="" height="14px" class=""></a></td>
    <td>{{(product.price/100)|number_format(2, ',', '.')}} €</td>
    <td>{{(product.price/100 * product.quantity)|number_format(2, ',', '.')}} €</td>
    <td><a href="{{path('delete_cart_item',{'id':product.id})}}">
    <img src="{{asset('assets/img/delete.png')}}" alt="delete" srcset="" height="18px"></a>
    </td>
    </tr>
    {% set total = total + product.price/100 * product.quantity  %}
  {% endfor %}
  </tbody>
</table>
  <div class="text-right mb-5">
    <b>Nombre de produits : {{ cart|length }} </b> <br>
    <b>Total de mon panier : {{ total|number_format(2, ',', '.') }} €</b>
    <a href="{{path('order')}}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
  </div>
  {% else %}
  <h3>Votre panier est vide!</h3>
   {% endif %}
{% endblock %}