{% extends 'base.html.twig' %}

{% block title %}La Boutique Française|commande{% endblock %}

{% block content %}
    <h1>La commande </h1>
    <hr>

    <strong>Commande passée le : {{order.createdAt|date('d/m/Y')}}</strong>
    <strong>Transporteur choisi : {{ order.carrierName}}</strong>
   
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>

    </tr>
  </thead>
  <tbody>
  {% set total = null %}
  {% for product in order.orderDetails %}
    <tr>
    <th>
        <img src="/uploads/{{product.illustration}}" alt=" {{product.name}}" srcset="" height="75px">
    </th>
    <td>{{product.name}} <br>
        <small>{{product.subtitle}}</small> 
    </td> 
    <td> x {{product.quantity}} class="ml-2 ">
    <td>{{(product.price/100)|number_format(2, ',', '.')}} €</td>
    <td>{{(product.price/100 * product.quantity)|number_format(2, ',', '.')}} €</td>

    <img src="{{asset('assets/img/delete.png')}}" alt="delete" srcset="" height="18px"></a>
    </td>
    </tr>
    {% set total = total + product.price/100 * product.quantity  %}
  {% endfor %}
  </tbody>
</table>
  <div class="text-right mb-5">
    <b>Nombre de produits : {{ cart|length }} </b> <br>
    <b>Total de mon panier : {{ total|number_format(2, ',', '.') }} €</b>
    <a href="{{path('order')}}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
  </div>
  {% else %}
  <h3>Votre panier est vide!</h3>
   {% endif %}
{% endblock %}